i.icon {
	font-size : 2em;
}

.container.main{
	margin-top: 7.0em;
}
#delete{
	display: inline;
}
/*body{
	background:purple;
}*/
.thumbnail img{
	width: 100%;
}
.thumbnail{
	padding :0;
}
.description p{
	padding: 0;
	text-align:justify;
}